.section-hero {
  position: relative;
  background-color: $white;
  .hero {
    position: relative;
    @include bg();
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 25%;
      z-index: 1;
      left: 0;
      bottom: 0;
      @include css3-prefix('background-image','linear-gradient(to top, #11d6bc 0%, rgba(17, 214, 188, 0) 100%)');
      opacity: .2;
    }
    .container {
      position: relative;
      z-index: 10;
      display: table;
      min-height: 720px;
      padding: 40px 20px 134px;
    }
  }
  .content {
    max-width: 540px;
    color: $color-text-banner;
    font-size: $size-heading;
    line-height: 1.5;
    text-shadow: 0 0 28px rgba(255, 255, 255, 0.26);
  }
}
  .left-box,
  .right-box {
    display: table-cell;
    width: 50%;
    height: 100px;
    vertical-align: middle;
  }
  .left-box {
    width: 46%;
    padding-right: 10px;
  }
  .right-box {
    width: 54%;
    padding-left: 10px;
  }
    .banner-title {
      margin-bottom: 18px;
      font-family: $font-heading-banner;
      font-size: $size-heading-banner;
      font-weight: $bold;
      line-height: $line-height-heading;
      letter-spacing: -.03em;
      color: #20354a;
      text-shadow: 0 0 28px rgba(255, 255, 255, 0.54);
    }
  .form-box {
    max-width: 380px;
    margin: 0 auto;
    padding: 34px 40px 40px;
    @include border-radius($radius-main);
    box-shadow: 0 17px 60px rgba(44, 105, 112, 0.25);
    background-color: $white;
    .box-title {
      margin-bottom: 37px;
    }
    &.other {
      max-width: 100%;
      .box-title {}
      .btn-submit {
        width: 100%;
        min-width: auto;
      }
    }
  }

    .box-title {
      margin-bottom: 10px;
      font-family: $font-main;
      font-size: $size-heading;
      text-align: center;
      color: $color-text-label;
    }
    .form-list {
      > li {
        position: relative;
        padding-left: 56px;
        margin-bottom: 22px;
        &:last-child {
          margin-bottom: 0;
        }
        .input-wrap {
          position: absolute;
          left: 0;
          top: 50%;
          @include css3-prefix('transform','translate(0, -50%)');
        }
      }
      .other & {
        margin: 0 -5px;
        > li {
          display: inline-block;
          width: 24%;
          margin-bottom: 0;
          padding: 0 5px;
          label {
            display: none;
          }
        }
      }
    }

      .form-btn-box {
        position: relative;
        margin-top: 41px;
        text-align: center;
        &:after,
        &:before {
          position: absolute;
          content: '';
          width: 59px;
          height: 1px;
          top: 50%;
          background-color: #e6e6e6;
          @include css3-prefix('transform','translate(0, -50%)');
        }
        &:after {
          right: -20px;
        }
        &:before {
          left: -20px;
        }
      }
//.hero-video {
//  background-color: #E8F3F1;
//  .container {
//    overflow: hidden;
//    position: relative;
//    max-width: 1333px;
//    height: 720px;
//    @include bg();
//    &:before,
//    &:after {
//      position: absolute;
//      z-index: 5;
//      content: '';
//      height: 100%;
//      width: 100px;
//      top: 0;
//      background: rgba(232,243,241,1);
//      background: -moz-linear-gradient(left, rgba(232,243,241,1) 0%, rgba(232,243,241,0.83) 15%, rgba(232,243,241,0.54) 53%, rgba(232,243,241,0) 100%);
//      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(232,243,241,1)), color-stop(15%, rgba(232,243,241,0.83)), color-stop(53%, rgba(232,243,241,0.54)), color-stop(100%, rgba(232,243,241,0)));
//      background: -webkit-linear-gradient(left, rgba(232,243,241,1) 0%, rgba(232,243,241,0.83) 15%, rgba(232,243,241,0.54) 53%, rgba(232,243,241,0) 100%);
//      background: -o-linear-gradient(left, rgba(232,243,241,1) 0%, rgba(232,243,241,0.83) 15%, rgba(232,243,241,0.54) 53%, rgba(232,243,241,0) 100%);
//      background: -ms-linear-gradient(left, rgba(232,243,241,1) 0%, rgba(232,243,241,0.83) 15%, rgba(232,243,241,0.54) 53%, rgba(232,243,241,0) 100%);
//      background: linear-gradient(to right, rgba(232,243,241,1) 0%, rgba(232,243,241,0.83) 15%, rgba(232,243,241,0.54) 53%, rgba(232,243,241,0) 100%);
//      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f3f1', endColorstr='#e8f3f1', GradientType=1 );
//    }
//    &:before {
//      left: 0;
//    }
//    &:after {
//      right: 0;
//      @include css3-prefix('transform','rotate(180deg)');
//    }
//  }
//  video {
//    position: absolute;
//    z-index: 1;
//    min-height: 100%;
//    min-width: 100%;
//    width: auto;
//    height: auto;
//    top: 50%;
//    left: 50%;
//    @include css3-prefix('transform', 'translate(-50%, -50%)');
//  }
//}
.hero-video-v2 {
  background: rgba(232,243,241,1);
  .container {
    overflow: hidden;
    position: relative;
    max-width: 1333px;
    padding: 0;
    @include bg();
    &:before,
    &:after {
      position: absolute;
      z-index: 5;
      content: '';
      height: 100%;
      width: 160px;
      top: 0;
      background: rgba(232,243,241,1);
      @include css3-prefix('background','linear-gradient(to right, #e8f3f1 0%, rgba(232, 243, 241, 0.95) 23%, rgba(232, 243, 241, 0.6) 48%, rgba(232, 243, 241, 0) 100%)');
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
      @include css3-prefix('transform','rotate(180deg)');
    }
  }
  video {
    width: 100%;
  }
}
.hero-video-container {
  position:relative;
  padding-bottom:56.25%;
  height:0;
  overflow:hidden;
  video,
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.section-about-us {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  .content {
    max-width: 800px;
    margin: 0 auto 52px;
    & + .form-box {
      margin-top: 100px;
    }
  }
}
  .bottom-box {
    position: relative;
    margin-bottom: -130px;
    z-index: 5;
  }
  .section-title {
    margin-bottom: 34px;
    font-size: $size-heading-big;
    color: $color-text-banner;
  }
    .video-box {

    }
      .video-container {
        position:relative;
        padding-bottom:53.5%;
        padding-top:30px;
        height:0;
        overflow:hidden;
        @include border-radius($radius-main);
        iframe,
        object,
        embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      .info-list {
        overflow: hidden;
        position: relative;
        z-index: 20;
        margin-top: -123px;
        margin-bottom: 12px;
        padding-top: 60px;
        padding-bottom: 60px;
        > li {
          position: relative;
          display: inline-block;
          width: 33.33%;
          margin-right: -6px;
          margin-bottom: 20px;
          &:nth-child(3n+2) {
            &:not(:last-child) {
              top: -20px;
              .flip-container, .front, .back {
                @include border-radius(10px 10px 0 0);
              }
              .front, .back {
                background-color: $color-bg3;
              }
            }
          }
          a {
            color: $white;
          }
        }
        &.one-el {
          margin-top: -185px;
          margin-bottom: 25px;
          > li {
            width: 100%;
          }
          .back {
            .info-decs {
              max-width: 80%;
            }
          }
        }
        &.two-el {
          margin: -164px -10px 6px;
          > li {
            padding: 0 10px;
            width: 50%;
          }
          .back {
            .info-decs {
              max-width: 80%;
            }
          }
        }
      }
          .info-icon-wrap {
            margin-bottom: 10px;
            height: 98px;
            text-align: center;
            line-height: 98px;
            img {
              max-width: 100%;
              height: auto;
              vertical-align: middle;
            }
          }
          .info-decs {
            font-size: $size-small;
          }
          .flip-container {
            perspective: 1000px;
            .box-title,
            .info-decs {
              max-width: 220px;
              margin: 0 auto;
            }
            .back .info-decs {
              max-width: 80%;
            }
            .box-title {
              margin-bottom: 4px;
              color: $white;
            }
          }
          .flip-container:hover .flipper, .flip-container.hover .flipper {
            transform: rotateY(180deg);
          }
          .flip-container, .front, .back {
            width: 100%;
            max-width: 580px;
            height: 300px;
            margin: 0 auto;
            @include border-radius($radius-main);
          }
          .flipper {
            transition: 1s;
            transform-style: preserve-3d;
            position: relative;
          }

          .front, .back {
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            display: table;
            padding: 10px 10px 10px;
            background-color: $color-bg2;
            .cell {
              display: table-cell;
              width: 100%;
              height: 100px;
              vertical-align: middle;
            }
          }
          .front {
            z-index: 2;
            /* for firefox 31 */
            transform: rotateY(0deg);
          }
          .back {
            transform: rotateY(180deg);
          }


.section-reviews {
  overflow: hidden;
  position: relative;
  padding-top: 162px;
  padding-bottom: 62px;
  @include bg();
  background-color: $color-bg3;
  .container {
    position: relative;
    z-index: 10;
    max-width: 1240px;
  }
  > img {
    position: absolute;
    z-index: 1;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    @include css3-prefix('transform', 'translate(-50%, -50%)');
    opacity: .1;
  }
  .section-title {
    margin-bottom: 5px;
    text-align: center;
    color: $white;
  }
}
  .section-bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    @include bg();
    opacity: .1;
  }
  .review-box {
    position: relative;
    max-width: 982px;
    min-height: 255px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }
    .review-img-box {}
      .review-img-wrap {
        position: relative;
        z-index: 10;
        overflow: hidden;
        float: left;
        width: 120px;
        height: 120px;
        line-height: 116px;
        text-align: center;
        @include border-radius(50%);
        background-color: red;
        img {
          max-width: 100%;
          height: auto;
          vertical-align: middle;
        }
      }
      .review-desc {
        position: relative;
        z-index: 10;
        overflow: hidden;
        max-width: 860px;
        padding-left: 28px;
        .content {
          margin-bottom: 23px;
        }
      }
        .name {
          display: block;
          font-weight: 700;
        }
        .profession {
          display: block;
          font-size: $size-small;
        }

.slider-box {
  position: relative;
  &:before {
    position: absolute;
    z-index: 1;
    content: '';
    width: 131px;
    height: 105px;
    left: 160px;
    top: -22px;
    background-image: url(../../img/quotes.png);
    @include bg();
    opacity: .1;
  }
}
.swiper-reviews {
  padding-bottom: 28px;
}
  .swiper-button-next,
  .swiper-button-prev {
    top: calc(50% - 50px);
    margin-top: -28px;
    width: 35px;
    height: 55px;
    background-size: cover;
    &:hover,
    &:focus {
      opacity: .8;
    }
  }
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom, .swiper-pagination-fraction {

  }    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        border: 2px solid $white;
        background-color: transparent;
        opacity: 1;
        &:hover,
        &:focus {
          background-color: $white;
          opacity: .7;
        }
      }
      .swiper-pagination-bullet-active {
        background-color: $white;
      }
.empty {
  padding: 0 40px;
  min-height: 201px;
  background-color: #0ec2b9;
  @include css3-prefix('background-image','linear-gradient(to right, rgba(7, 180, 171, 0) 0%, rgba(7, 180, 171, 0.04) 4%, #07b4ab 100%)');
  opacity: 0.2;
  > * {
    display: none;
  }
}