a.btn, .btn {
  position: relative;
  display: inline-block;
  max-width: 100%;
  min-width: 183px;
  margin: 0;
  padding: 10px 10px 10px;
  font-family: $font-main;
  font-size: 16px;
  line-height: 1;
  font-weight: $bold;
  color: $white;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: #11d6bc;
  border: 2px solid #11d6bc;
  @include border-radius(2em);
  &:hover,
  &:focus {
    color: #11d6bc;
    background-color: $white;
  }
}
