.input-wrap {
  color: $color-text-label;
  font-size: $size-small;
  opacity: .75;
  line-height: 1;
}
.input-style {
  display: block;
  width: 100%;
  margin: 0;
  min-height: 38px;
  padding: 8px 16px 8px;
  font-family: $font-main;
  border: none;
  @include border-radius(2em);
  background-color: #EFF7F6;
  @include transition($transition-other);
}