/*--------------------------------------MEDIA-----------------------------------------*/

@media all and (max-width: 1199px) {
  .review-box {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media all and (max-width: 1080px) {

}

@media all and (max-width: 1024px) {
  .banner-title {
    margin-bottom: 8px;
    font-size: 60px;
  }
  .section-hero {
    .content {
      font-size: 20px;
    }
  }
  .box-title {
    font-size: 22px;
  }
  .form-box {
    .box-title {
      margin-bottom: 28px;
    }
  }
  .form-btn-box {
    margin-bottom: 24px;
  }
  .section-title {
    font-size: 34px;
  }
  .content {
    font-size: 17px;
  }
  .name,
  .profession {
    font-size: 17px;
  }
}

@media all and (max-width: 991px) {

}

@media all and (max-width: 860px) {
  .banner-title {
    font-size: 50px;
  }

}

@media all and (max-width: 790px) {

}

@media all and (max-width: 768px) {

}

@media all and (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .section-hero {
    .content {
      margin: 0 auto 40px;
      text-align: center;
      font-size: 18px;
    }
    .hero {
      .container {
        padding-top: 60px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  .banner-title {
    font-size: 44px;
    text-align: center;
  }
  .box-title {
    font-size: 20px;
  }
  .left-box, .right-box {
    display: block;
    width: 100%;
    padding: 0;
    height: auto;
  }
  .form-box {
    padding: 30px 20px 25px;
  }
  .form-btn-box {
    &:after,
    &::before {
      content: none;
    }
  }
  .section-title {
    margin-bottom: 14px;
    font-size: 30px;
  }
  .content {
    font-size: 16px;
  }
  .name,
  .profession {
    font-size: 16px;
  }
  .info-list {
    margin: -160px -10px 12px;
    padding-bottom: 40px;
    > li {
      width: 50%;
      padding: 0 10px;
      margin-bottom: 12px;
      &:nth-child(3n+2) {
        &:not(:last-child) {
          top: 0;
          .flip-container, .front, .back {
            @include border-radius($radius-main);
          }
        }
      }
    }
  }
  .other {
    &.form-box {
      max-width: 380px;
    }
    .form-list {
      > li {
        width: 100%;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .section-about-us .content + .form-box {
    margin-top: 60px;
  }
}

@media (max-width: 767px) and (max-height: 480px) {

}
@media all and (max-width: 736px) {

}
@media all and (max-width: 680px) {

}

@media all and (max-width: 640px) {
  .review-img-wrap {
    float: none;
    margin: 0 auto 15px;
  }
  .review-desc {
    padding: 0;
  }
  .review-desc .content {
    margin-bottom: 14px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    top: calc(50% - 25px);
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 0;
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 0;
  }
  .slider-box:before {
    left: 30px;
    top: 130px;
  }
  .section-reviews .section-title {
    margin-bottom: 0;
  }
}

@media all and (max-width: 600px) {

}

@media all and (max-width: 560px) {
  .section-hero {
    .empty {
      min-height: 120px;
    }
    .hero .container {
      padding-bottom: 90px;
    }
  }
  .info-list {
    margin-top: -123px;
    margin-bottom: 0;
    > li {
      width: 100%;
      &:nth-child(3n+2) {
        &:not(:last-child) {
        }
      }
      .back {
        .info-decs {
          max-width: 80%;
        }
      }
    }
    &.one-el {
      margin-top: -123px;
    }
    &.two-el {
      margin-top: -123px;
      > li {
        width: 100%;
      }
    }
  }
  .empty + .section-about-us {
    .info-list,
    .info-list .one-el,
    .info-list .two-el {
      margin-top: -203px;
    }
  }
  .hero-video-v2 .container:before, .hero-video-v2 .container:after {
    width: 80px;
  }
}

@media all and (max-width: 480px) {
  .review-desc .content {
    font-size: 14px;
  }
  .name,
  .profession {
    font-size: 14px;
  }
  .review-box {
    padding-left: 40px;
    padding-right: 40px;
  }
  .section-reviews .container {
    padding-left: 5px;
    padding-right: 5px;
  }
  .flip-container, .front, .back {
    height: 260px;
  }
}

@media all and (max-width: 420px) {

}

@media all and (max-width: 380px) {

}

@media all and (max-width: 360px) {

}

@media all and (max-width: 350px) {

}