/*fonts*/
$font-main: 'Open Sans', Arial, sans-serif;
$font-heading: 'Raleway', Arial, sans-serif;
$font-heading-banner: 'Gotham Pro', $font-heading;

/*fonts-weight*/
$normal: 400;
$bold: 700;

/*fonts-size*/
$size-main: 18px;
$size-small: 14px;
$size-heading-banner: 80px;
$size-heading-big: 36px;
$size-heading: 24px;

/*line-height*/
$line-height: 1.65;
$line-height-heading: 1.125;

/*colors*/
$white: #ffffff;
$color-text: #333333;
$color-text-banner: #20354a;
$color-text-label: #415365;
$color-text-input: #192632;
$color-bg1: $white;
$color-bg2: #07b7ae;
$color-bg3: #0ec2b9;

/*transition*/
$transition-link: 0.2s;
$transition-other: 0.35s;

/*border-radius*/
$radius-main: 10px;
$radius-small: 5px;
